<span ng-if="menuItem.isIconVisible"
      class="menu-item-icon icon-fw {{ iconBaseClass() }} {{ menuItem.iconClass}}"></span>
<span ng-if="menuItem.text"
      class="menu-item-text" translate="{{ menuItem.text }}"></span>
<span ng-if="menuItem._ngBindHtml()" ng-bind-html="menuItem._ngBindHtml()"></span>
<!-- add/remove to favorites icon -->
<i class="fa fa-star-o pull-right" style="font-size: 15px; margin-right: 5px; width: 1.28571429em; text-align: center;" aria-hidden="true" ng-if="altCanBeFavorites(menuItem) && !menuItem.isFavorite && !menuItem.iconClass" ng-click="altManageFavorites(menuItem)"></i>
<i class="fa fa-star pull-right" style="font-size: 15px; margin-right: 5px; width: 1.28571429em; text-align: center; color: #337ab7;" aria-hidden="true" ng-if="altCanBeFavorites(menuItem) && menuItem.isFavorite && !menuItem.iconClass" ng-click="altManageFavorites(menuItem)"></i>
<span class="menu-item-icon icon-fw fa fa-star-o pull-right" style="font-size: 15px;" aria-hidden="true" ng-if="altCanBeFavorites(menuItem) && !menuItem.isFavorite && menuItem.iconClass" ng-click="altManageFavorites(menuItem)"></span>
<span class="menu-item-icon icon-fw fa fa-star pull-right" style="font-size: 15px;" aria-hidden="true" ng-if="altCanBeFavorites(menuItem) && menuItem.isFavorite && menuItem.iconClass" ng-click="altManageFavorites(menuItem)"></span>