<div ng-include="'template/eeh-navigation/search-input.html'"
     ng-if="!isCollapsed"
     class="eeh-navigation-search-input"></div>

<a class="eeh-navigation-search-input" ng-href="" ng-if="isCollapsed"
   popover-placement="right"
   popover-append-to-body="'true'"
   uib-popover-template="'template/eeh-navigation/search-input-popover.html'">
    <span class="menu-item-icon icon-fw {{ iconBaseClass() }} {{ iconClass }}"></span>
</a>
<script type="text/ng-template" id="template/eeh-navigation/search-input-popover.html">
    <div class="row search-input-popover">
        <div class="col-xs-12">
            <div ng-include="'template/eeh-navigation/search-input.html'"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="template/eeh-navigation/search-input.html">
    <form ng-submit="submit(model.query)" class="navbar-form" ng-class="classes" style="padding: 0 8px;">
        <div class="input-group alt-search-container">
            <div>
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <input type="text" name="eeh-navigation-search-input" class="form-control alt-search-container-input" placeholder="{{'msgr.search' | translate }}" ng-model="model.query">
        </div>
        <!-- <div class="input-group">
            <input type="text"
                   class="form-control"
                   placeholder="{{'msgr.search' | translate }}"
                   ng-model="model.query">
            <span class="input-group-btn" ng-if="!isCollapsed">
                <button class="btn btn-default" ng-disabled="!model.query" ng-click="model.query = ''">
                    <span style="margin: 0;" class="glyphicon glyphicon-remove remove-icon {{ iconBaseClass() }} {{ iconClass }}"></span>
                </button>
                
                <button class="btn btn-default">
                    <span class="icon-fw {{ iconBaseClass() }} {{ iconClass }}"></span>
                </button>
            </span>
        </div> -->
    </form>
</script>
