@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

// Menu Items
$menu-item-active-bg: $navbar-default-link-active-bg !default;
$menu-item-active-color: $navbar-default-link-active-bg !default;

// Sidebar Menu Items
$sidebar-menu-item-padding-left: 15px !default;

$sidebar-nav-nested-collapsed-left: 51px !default;
// $sidebar-nav-nested-collapsed-width: 250px !default;
$sidebar-nav-nested-collapsed-width: 275px !default;
$sidebar-nav-nested-collapsed-bg: $navbar-default-bg !default;

// serp variables
$serp-default-link-color: #444;
$serp-default-link-hover-bg: #e7e7e7;
$serp-default-link-active-color: #443d82;
$serp-default-link-active-bg: #f5f5f5;

